<h1>Mensagens</h1>

<ul>
  <% @messages.each do |m| %>
  	<li>
      <%= m.title %>
      <small><%= l(m.date, format: :short) if m.date %></small>
    </li>
  <% end %>
</ul>

<%= form_for(Message.new) do |f| %>
  <div>
    <%= f.label :title %>    
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit %>
<% end %>
