<h1>Mensagens</h1>

<ul id="messages">
  <%= render @messages %>
</ul>

<%= link_to "Atualizar", messages_path, remote: true, id: 'update-messages' %>

<%= form_for(Message.new) do |f| %>
  <div>
    <%= f.label :title %>    
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit %>
<% end %>
